@font-face {
  font-family: 'open_sans';
  src: url('./assets/fonts/opensans-light-webfont.woff2') format('woff2'),
    url('./assets/fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/poppins-medium-webfont.woff2') format('woff2'),
    url('./assets/fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: open_sans;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-item {
  display: flex;
}

.nav-brand {
  padding-left: 30px;
  font-weight: bolder;
  font-size: 25px;
}

.nav-link {
  padding-right: 30px;
}

.nav-link:hover {
  color: silver;
}

.landing {
  /* background-color: blue; */
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}

.landing-text {
  width: 50%;
}

.landing h1 {
  font-size: 40px;
  font-family: poppins;
}

.landing h2 {
  font-size: 35px;
  font-weight: lighter;
}

.landing a {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 60px;
  padding: 15px;
}

.landing a:hover {
  background-color: #ecf0f1;
}

.landing-img img {
  border: 5px solid black;
}

#projects {
  /* background-color: cadetblue; */
}

#projects h2 {
  margin-left: 30px;
  font-family: poppins;
}

.project-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  /* background-color: brown; */
  margin-bottom: 10px;
  width: 500px;
}

.project h3 {
  font-family: poppins;
}

.project img {
  width: 500px;
  height: 250px;
}

.project a {
  font-weight: bold;
}

.project-desc,
.project-desc+a, .links {
  padding-left: 10px;
  padding-right: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
}