@font-face {
  font-family: 'open_sans';
  src: url('./assets/fonts/opensans-light-webfont.woff2') format('woff2'),
    url('./assets/fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/poppins-medium-webfont.woff2') format('woff2'),
    url('./assets/fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: open_sans;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: silver;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-item-left {
  padding-left: 30px;
}

.nav-brand {
  font-weight: bolder;
  font-size: 25px;
}

.nav-link {
  padding-right: 30px;
}

.nav-link:hover {
  color: silver;
}

section {
  margin-left: 25px;
  margin-right: 25px;
}

#landing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  font-size: 30px;
}

.landing-text {
  width: 50%;
}

#landing h1 {
  font-size: 40px;
  font-family: poppins;
}

#landing h2 {
  font-size: 35px;
  font-weight: lighter;
}

#landing a {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 60px;
  padding: 15px;
}

#landing a:hover {
  background-color: #ecf0f1;
  color: inherit;
}

.landing-img img {
  border: 5px solid black;
}

section>h2 {
  font-family: poppins;
}

.about-text {
  text-align: justify;
  width: 500px;
}

.about-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-content img {
  width: 500px;
}

.skills-content {
  display: flex;
  justify-content: space-around;
}

.skill-img {
  width: 200px;
  height: 200px;
  position: relative;
}
.languages img, .others img {
  width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.project-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 500px;
}

.project h3 {
  font-family: poppins;
}

.project img {
  width: 500px;
  height: 250px;
}

.project a {
  font-weight: bold;
}


.project-desc,
.project-desc+a, .links {
  padding-left: 10px;
  padding-right: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
}