@font-face {
  font-family: 'open_sans';
  src: url('./assets/fonts/opensans-light-webfont.woff2') format('woff2'),
    url('./assets/fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/poppins-medium-webfont.woff2') format('woff2'),
    url('./assets/fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}

section {
  min-height: 100vh;
}

.about {
  background-color: bisque;
}

.projects {
  background-color: cadetblue;
}